<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rngesus.smartwallet">

    <uses-sdk tools:overrideLibrary="com.budiyev.android.codescanner" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.rngesus.smartwallet.OutcomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartWallet">
        <activity android:name=".out_come" />
        <activity android:name=".My_Income" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.SmartWallet.NoActionBar" />
        <activity android:name=".ForgottenPassword" />
        <activity android:name=".SignUpActivity" />

        <activity android:name=".TransferActivity" />
        <activity android:name=".generateActivity" />
        <activity android:name=".scanActivity" />
        <activity android:name=".QrcodeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>